version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "security"
    reviewers:
      - "atadzhan"
    assignees:
      - "atadzhan"
    commit-message:
      prefix: "chore"
      include: "scope"

